.homeWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://source.unsplash.com/1600x900/?nature,landscape,sunshine,night,ocean');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.weatherSection {
  display: flex;
  border-radius: 20px;
  color: #ffffff;
  margin: 20px;
  height: max-content;
  border: solid 4px #030101;
  padding: 0;
}

.leftWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding-left: 20px;
  border-radius: 25px;
  width: 300px;
  margin-right: 10px;
}

.rightSide {
  position: relative;
  float: left;
  height: 100%;
  padding-top: 25px;
  padding-right: 20px;
  color: #74e2a9;
}

.stateMenu {
  width: 100%;
  outline: none;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 7px;
  padding: 10px;
  color: #020202;
  background: #7c7c7c2b;
  font-weight: 700;
  font-style: bold;
  cursor: pointer;
}

.humidityWrap {
  padding: 15px;
  margin-top: 15px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0.2, 0.6);
  color: #fff;
  margin-bottom: 20px;
}

.humidityWrap:hover {
  background: rgba(0, 0, 0.2, 0.6);
  border-radius: 10px;
  transform: scale(1.07);
}


.humidityWrap>* {
  display: flex;
  justify-content: space-between;
}

.humidityData+.humidityData {
  margin-top: 10px;
}

.title {
  font-weight: 700;
}

.cardWrap {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  margin-bottom: 25px;
}

.cardList {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.cardList::after,
.cardList::before {
  content: '';
  overflow: hidden;
  clear: both;
  display: table;
}

.cardList>li {
  float: left;
  padding: 15px;
  cursor: pointer;
  transition: .2s ease;
}

.day-icon {
  display: block;
  height: 40px;
  width: auto;
  margin: 0 auto;
}

.day-name {
  display: block;
  margin: 10px 0 0;
  text-align: center;
  font-weight: 700;
}

.day-temp {
  display: block;
  text-align: center;
  margin: 10px 0 0;
  font-weight: 700;
}

.cardList>li.active {
  background: #fff;
  border-radius: 10px;
}

.cardList>li:hover {
  background-color: #ffffff;
  border-radius: 10px;
  transform: scale(1.1);
  box-shadow: 0 0 40px -5px #0003;
}

.dateDay,
.locationName {
  display: block;
}

.locationName {
  margin-top: 10px;
}

.weatherTemp {
  margin: 0;
  font-weight: 700;
  font-size: 4em;
}

@media only screen and (max-width: 700px) {

  .weatherSection,
  .homeWrap,
  .leftWrap,
  .rightSide {
    display: block;
    height: auto;
    float: none;
  }

  .weatherSection {
    margin: 0;
  }

  .stateMenu {
    width: auto;
  }

  .humidityWrap>* {
    display: block;
  }

  .humidityData {
    overflow: hidden;
  }

  .title {
    float: left;
  }

  .value {
    float: right;
  }

  .leftWrap {
    width: auto;
    margin: 0 0 0 0;
    padding: 20px;
  }

  .homeWrap {
    padding: 40px 25px;
  }

  h2 {
    margin: 0;
  }

  .rightSide {
    padding-left: 25px;
  }

  .cardWrap {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}